template(name="productDetails")
	.productDetails.container
		+buttonToProductsList
		if currentUser
			button.btn.btn-danger(name="delete-product") Kustuta toode
		+autoForm(collection="ProductsCollection" id="updateProductForm" type="update" class="form-horizontal" doc=this)
			fieldset
				.row
					.col-sm-6
						.panel.panel-info
							.panel-heading Toode
							.panel-body
								if currentUser
									+afQuickField(name="status"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              options="allowed"
									              )
									+afQuickField(name="productCode"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              )
									+afQuickField(name="productDescription"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              )
									+afQuickField(name="consignment"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              )
									+afQuickField(name="orderNumber"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              )
									+afQuickField(name="quantity"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              )
									+afQuickField(name="createdAt"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              )
									+afQuickField(name="cooldownTime"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              )
								else
									+afQuickField(name="status"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              disabled=true
									              )
									+afQuickField(name="productCode"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              disabled=true
									              )
									+afQuickField(name="productDescription"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              disabled=true
									              )
									+afQuickField(name="consignment"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              disabled=true
									              )
									+afQuickField(name="orderNumber"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              disabled=true
									              )
									+afQuickField(name="quantity"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              disabled=true
									              )
									+afQuickField(name="createdAt"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              disabled=true
									              )
									+afQuickField(name="cooldownTime"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9"
									              disabled=true
									              )
					.col-sm-6
						.panel.panel-info
							.panel-heading Katsetuse tulemused
							.panel-body
								div(class="{{#if $not drumLength}}input-bg-yellow{{/if}}")
									+afQuickField(name="drumLength"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9")
								br
								table.table.borderless
									thead
										tr
											td tüüp
											td 
												strong max
											td tulemus
									tbody
										each measurements
											tr
												td {{label}}
												td 
													strong {{resistance}}
												td(class="hide-label {{#if $not HESI}}input-bg-yellow{{/if}} {{#if $gt HESI resistance}}input-bg-red{{/if}}") 
													+afQuickField(name="measurements.$.result")
											//- .row
											//- 	.col-sm-5
											//- 		strong {{label}}
											//- 	.col-sm-2
											//- 		p {{resistance}}
											//- 	.col-sm-2
											//- 		div(class="hide-label {{#if $not HESI}}input-bg-yellow{{/if}} {{#if $gt HESI resistance}}input-bg-red{{/if}}")
														
								br
								div(class="{{#if $not testerPerson}}input-bg-yellow{{/if}}")
									+afQuickField(name="testerPerson"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9")
								div(class="{{#if $not notes}}input-bg-yellow{{/if}}")
									+afQuickField(name="notes"
									              template="bootstrap3-horizontal"
									              label-class="col-sm-3"
									              input-col-class="col-sm-9")
								button.btn.btn-success(type="submit") Kinnita