template(name="productsList")
	.modal.fade#new-product-dialog(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Uus toode
				.modal-body
					+autoForm(collection="ProductsCollection" id="insertProductForm" type="insert" class="form-horizontal")
						fieldset
							+afQuickField(name="productCode"
							              template="bootstrap3-horizontal"
							              label-class="col-sm-3"
							              input-col-class="col-sm-9")
							+afQuickField(name="mapId"
							              template="bootstrap3-horizontal"
							              label-class="col-sm-3"
							              input-col-class="col-sm-9")
							+afQuickField(name="consignment"
							              template="bootstrap3-horizontal"
							              label-class="col-sm-3"
							              input-col-class="col-sm-9")
							+afQuickField(name="orderNumber"
							              template="bootstrap3-horizontal"
							              label-class="col-sm-3"
							              input-col-class="col-sm-9")
							+afQuickField(name="quantity"
							              template="bootstrap3-horizontal"
							              label-class="col-sm-3"
							              input-col-class="col-sm-9")
						button.btn.btn-success(type="submit") Sisesta toode (käivita timer)
	.productsList.container
		+buttonToProductMap
		button.btn.btn-success.btn-raised(data-toggle="modal" data-target="#new-product-dialog") Sisesta uus toode
		.btn-group(role="group")
			button.btn.btn-toggle(name="Ootel" type="button" class="{{#if $.Session.equals 'filterOotel' true}}active{{/if}}") Ootel
			button.btn.btn-toggle(name="Katsetamisele" type="button" class="{{#if $.Session.equals 'filterKatsetamisele' true}}active{{/if}}") Katsetamisele
			button.btn.btn-toggle(name="Kinnitatud" type="button" class="{{#if $.Session.equals 'filterKinnitatud' true}}active{{/if}}") Kinnitatud
		.panel
			.panel-body
				table.table.table-hover
					thead
						tr
							th Tootekood
							th Tootekirjeldus
							th Partii
							th Tootmistellimus
							th Kogus meetrites
							th Takistus
							th(style="text-align:right") Aega jäänud
					tbody
						each products
							tr(class="{{#if $eq status 'Katsetamisele'}}bg-green clickable{{/if}}" data-product-id="{{_id}}")
								td {{productCode}}
								td {{productDescription}}
								td {{consignment}}
								td {{orderNumber}}
								td {{quantity}}
								td(class="{{#if $not resistance}}bg-danger{{/if}}") {{resistance}}
								td(style="text-align:right" class="{{#if $not timeLeft}}bg-danger{{/if}}") {{timeLeft}}